In [24]:
path = "/Users/nishant/Desktop/1- Reserch/Media Bias/Data&Code/IHS/IHS Erasmus_2015_2020.csv"
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import plotly.express as px

In [14]:
df = pd.read_csv(path)

In [19]:
#df.info()
df.head()

,Country-Name,Last Available Date,Make Group,Make,Model Group,Model,Sub Model,Version,Trim,Generation Year,Body Group,Body Type,No. of Doors,No. of Seats,Fuel Type,Engine (ltr),Engine (ccm),Engine (kW),Engine (HP),Turbo,No. of Cylinders,Transmission,No. of Gears,Driven Wheels,Axle Configuration,Gross Vehicle Weight,Height,Length,Width,Wheelbase,Price (local),2015/01,2015/02,2015/03,2015/04,2015/05,2015/06,2015/07,2015/08,2015/09,2015/10,2015/11,2015/12,2016/01,2016/02,2016/03,2016/04,2016/05,2016/06,2016/07,2016/08,2016/09,2016/10,2016/11,2016/12,2017/01,2017/02,2017/03,2017/04,2017/05,2017/06,2017/07,2017/08,2017/09,2017/10,2017/11,2017/12,2018/01,2018/02,2018/03,2018/04,2018/05,2018/06,2018/07,2018/08,2018/09,2018/10,2018/11,2018/12,2019/01,2019/02,2019/03,2019/04,2019/05,2019/06,2019/07,2019/08,2019/09,2019/10,2019/11,2019/12,2020/01,2020/02
0,Austria,Feb-20,Alpina,Alpina,Alpina: 3-Series,Alpina 3-Series,Alpina B3,Alpina B3 3.0 AWD,Unspecified,2011,Sedan,Sedan,4,5 Seats,Petrol,3.0,2979,301,409,Unspecified,-1,Unspecified,-1,AWD,4 X 4,-1,-1,-1,-1,-1,69782,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Austria,Feb-20,Alpina,Alpina,Alpina: 3-Series,Alpina 3-Series,Alpina B3,Alpina B3 3.0 AWD,Unspecified,2011,Wagon,Wagon,5,5 Seats,Petrol,3.0,2979,324,441,Unspecified,-1,Unspecified,-1,AWD,4 X 4,-1,-1,-1,-1,-1,78252,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Austria,Feb-20,Alpina,Alpina,Alpina: 5-Series,Alpina 5-Series,Alpina B5 (5-Ser.),Alpina B5 (5-Ser.) 4.4 AWD,Unspecified,2016,Sedan,Sedan,4,5 Seats,Petrol,4.4,4395,447,608,Unspecified,-1,Unspecified,-1,AWD,4 X 4,-1,-1,-1,-1,-1,107473,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Austria,Feb-20,Aston Martin Finance Gr.,Aston Martin,Aston Martin: DB-Series,Aston Martin DB11,Aston Martin DB11,Aston Mart DB11 4.0,Standard,2016,Convertible,Convertible,2,2+2 Seats,Petrol,4.0,3982,375,510,Turbo,8,Automatic,8,Rear,4 X 2,2060,1279,4739,1940,2805,252769,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,3,0,1,0,0,0,0,0,0,0,0,0
4,Austria,Feb-20,Aston Martin Finance Gr.,Aston Martin,Aston Martin: DB-Series,Aston Martin DB11,Aston Martin DB11,Aston Mart DB11 5.2,Unspecified,2016,Coupe,Coupe,2,2+2 Seats,Petrol,5.2,5204,470,639,Unspecified,-1,Unspecified,-1,Rear,4 X 2,-1,-1,-1,-1,-1,244552,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [25]:
df['Make Group'].value_counts()

Volkswagen                        70348
BMW                               41095
PSA Group                         31380
Daimler                           27029
Renault-Nissan-Mitsubishi         22086
Ford                              16793
Fiat Chrysler Automobiles         13940
Hyundai Kia Automotive Group      11080
Geely Automobile Hld.             10612
Tata Gr.                          10165
Toyota Group                       9450
Mazda Motors Gr.                   4391
Honda                              4219
General Motors                     3532
Suzuki                             1635
Subaru Gr.                         1445
Mahindra and Mahindra               997
Unspecified                         984
Aston Martin Finance Gr.            383
Tesla                               360
Ferrari                             266
CNH Industrial Gr.                  232
McLaren Group                       154
Alpina                              143
Morgan Motor Co.                     92
DR Motor                             75
Shanghai Automotive Ind.(SAIC)       58
Volvo Truck Gr.                      29
Caterham                             29
Isuzu                                20
KTM                                  17
Great Wall Motor Company Ltd.        13
e.GO Mobile AG                       10
MPM Motors                            8
PGO Gr.                               7
Westfield                             6
SECMA Gr.                             5
Paccar                                5
Wanxiang                              5
Pagani                                4
Dallara                               4
Bollore                               4
Borgward                              3
Piaggio                               3
Severstal                             3
Trabant                               3
Wiesmann                              3
Saab                                  3
Dongfeng Motor Co. Ltd.               3
Guangzhou Automobile Group Co.        3
Donkervoort                           2
Gumpert                               2
Proton                                2
Martin Motors Gr.                     1
ChangAn Automobile                    1
JAC Anhui Jianghuai Automobile        1
Czechoslowak Group                    1
Romantial                             1
Mia Electric Group                    1
De Tomaso                             1
Lifan                                 1
Tazzari                               1
BYD Auto                              1
Koenigsegg                            1
Name: Make Group, dtype: int64

In [31]:
df[df['Make Group']=='Mazda Motors Gr.']['Make'].value_counts()

Mazda    4391
Name: Make, dtype: int64